@{
    Layout = null;
    ViewBag.Title = "Index";
}

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")
    @Styles.Render("~/Content/cssacademia")


    <link rel="stylesheet" href="~/Css/FormularioInscripcionAlumno.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainnav" style="background-color:black">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#contact" style="color:white">ONT <i class="fas fa-globe-americas"></i></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarresponsive" aria-controls="navbarresponsive"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span> <span class="badge badge-pill badge-info">Menú</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarresponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Academias</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#event">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Reglamento</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-lg-12 text-center">
                <img src="~/img/logo.jpg" style="width:100%" class="imglog d-block " id="logo">
            </div>
            <div class="nav row rounded-top align-items-strech justify-content-between" style="margin-bottom:1%">
                <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
                    <h5>            ITF Federación  </h5>
                    <i style="font-size:30px" class="fas fa-globe-americas"></i>
                    <h5>   ONT 2020</h5>
                </div>
                <nav class="c-1  d-flex align-items-center">
                    <div class="btn btn-flat btn-danger">
                        <span>ingreso Alumno</span><br />
                        <i style="font-size:25px" class="fas fa-user-tie"></i>
                    </div>&nbsp;
                    <div class="btn btn-flat btn-danger">
                        <span>Ingreso Maestro</span><br />
                        <i style="font-size:25px" class="fas fa-user-tie"></i>
                    </div>&nbsp;
                    <button class="btn btn-flat btn-danger">
                        <span>Ingreso Funcionario</span><br />
                        <i style="font-size:25px" class="fas  fa-user-tie"></i>
                    </button>&nbsp;
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="titulo col-7 mx-auto "><h2>Listado de Academias</h2></div>
        <div class="container ">
            <div class="row academia align-items-center">
                <div class="col">
                    <div class="row galeria justify-content-center">
                        <div class="contenedor col-4 col-lg-4">
                            <div class="contenedor-texto">
                                <p>BAEKJUL BOOL GOOL</p>
                            </div>
                            <div class="contenedor-imagen  align-items-center ">
                                <a href="#" data-toggle="modal" data-target="#modal">
                                    <img src="~/img/academia1.jpg" class="img-fluid imagen" alt="">

                                </a>
                            </div>

                        </div>
                        <div class="contenedor col-4 col-lg-4">
                            <div class="contenedor-texto ">
                                <p class="">LOYOLA TAEKWON-DO</p>
                            </div>
                            <div class="contenedor-imagen ">
                                <a href="#" data-toggle="modal" data-target="#modal">
                                    <img src="~/img/academia2.jpg" class="img-fluid imagen" alt="">

                                </a>
                            </div>

                        </div>
                        <div class="contenedor col-4 col-lg-4">
                            <div class="contenedor-texto">
                                <p>DIAZ MUÑOZ TKD</p>
                            </div>
                            <div class="contenedor-imagen ">
                                <a href="#" data-toggle="modal" data-target="#modal">
                                    <img src="~/img/academia3.jpg" class="img-fluid imagen" alt="">

                                </a>
                            </div>

                        </div>
                        <div class="contenedor col-4 col-lg-4">
                            <div class="contenedor-texto">
                                <p>TAEKWON-DO PABLO SABALAIN</p>
                            </div>
                            <div class="contenedor-imagen ">
                                <a href="#" data-toggle="modal" data-target="#modal">
                                    <img src="~/img/academia4.jpg" class="img-fluid imagen" alt="">

                                </a>
                            </div>

                        </div>
                        <div class="contenedor col-4 col-lg-4">
                            <div class="contenedor-texto">
                                <p>OVIEDO TKD</p>
                            </div>
                            <div class="contenedor-imagen ">
                                <a href="#" data-toggle="modal" data-target="#modal">
                                    <img src="~/img/academia5.jpg" class="img-fluid imagen" alt="">

                                </a>
                            </div>

                        </div>
                        <div class="contenedor col-4 col-lg-4">
                            <div class="contenedor-texto">
                                <p>JORQUERA TAEKWON-DO</p>
                            </div>
                            <div class="contenedor-imagen ">
                                <a href="#" data-toggle="modal" data-target="#modal">
                                    <img src="~/img/academia6.jpg" class="img-fluid imagen" alt="">

                                </a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>



        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row redes-sociales justify-content-center">
                <div class="col-auto">
                    <i class="fab fa-twitter fa-circle fa-5x icono twitter"></i>
                    <i class="fab fa-instagram fa-circle fa-5x icono instagram"></i>
                    <i class="fab fa-facebook fa-circle fa-5x icono facebook"></i>
                    <i class="fab fa-youtube fa-circle fa-5x icono youtube"></i>
                </div>
            </div>

        </div>
    </footer>

    @Scripts.Render("~/Bundles/js")

</body>
</html>