
body{
	background: #f2f2f2;
    font-family: 'Cooper Black';
}

.imglog{
    border: solid 8px black !important;
    margin-top: 8%;
}

header {
	margin-top: 30px;
}


/* --- LOGO --- */
header .logo h2,
header .logo span,
header .logo p {
	
	display: inline-block;  /*Elementos uno al lado de otro*/
	margin: 0;
}


header .logo h2 {
	font-weight: 800;
	text-transform: uppercase; /*Todo el texto en mayuscula*/
}

header .logo .icono { color:#bfbfbf; } 

header .logo p { color: #777777; }

/* --- MENU --- */
header .menu {
	padding: 0;
}

header .menu a {
	display: block;  /*Para poder poner padding*/
	padding: 0 30px; /* 0 arriba y abajo 30 a los lados*/
	text-decoration: none;
	color: #fff;
}

header .menu a div span {  /*Texto en otro tamaño de fuente*/
	font-weight: 600;
}

header .menu .c-1 { background: #CC0000; }
header .menu .c-2 { background: #005385; }
header .menu .c-3 { background: #3da5e2; }


header .menu .c-1:hover { background: #610B0B; }
header .menu .c-2:hover { background: #0B0B3B; }
header .menu .c-3:hover { background: #002d44; }


/* --- SLIDER --- */
.slider {
	margin-bottom: 40px;
}

.slider .col {
	padding: 0;
}


/* --- PORTAFOLIO --- */
.portafolio {
	background: #fff;
	border-top: 5px solid #3da5e2;
	padding: 0 20px;
}

.portafolio .titulo {
	padding: 40px 0;
	text-align: center;
	color: #3da5e2;
	font-family: 'Cooper Black', sans-serif;
	font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
	margin-bottom: 40px;
	max-height: 180px; /* Para que todas las imagenes tengan una altura de 180 como maximo asi las nivela*/
	overflow: hidden; /*El contenido que sobre lo oculta*/
}

.portafolio .galeria .contenedor-imagenlogo {
	margin-bottom: 40px;
	max-height: 180px; /* Para que todas las imagenes tengan una altura de 180 como maximo asi las nivela*/
	overflow: hidden; /*El contenido que sobre lo oculta*/
}

.portafolio .galeria .contenedor-imagen a {
	background: #3da5e2;
	display: inline-block; /* para colocar las cajas en horizontal respetando el ancho y largo que le defini antes*/
}

.portafolio .galeria .contenedor-imagen:hover img {
	opacity: .3;  /*Reducir la opacidad al estar en estado hover*/
}

.portafolio .modal-dialog {  /*Para que se adapte la imagen al apretarla y modificamos la clase modal*/
	margin: 0px auto;
	height: 100%;
	max-width: 1000px;
}

.portafolio .modal-content {
	width: auto;
}

/* --- ACERCA DE --- */
.acerca-de {					/*Le damos un padding arriba y abajo a la foto para mayor visualizacion*/
	padding: 30px;
	margin-bottom: 40px;
}

.acerca-de .foto {
	text-align: center;		/*Centramos la foto y el texto*/
}

.acerca-de .foto img {
	margin-bottom: 30px;	
}

.acerca-de .foto .nombre {
	color: #545454;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;  /*Espaciado entre cada letra del nombre*/
}

.acerca-de .info .titulo {
	color: #005385;
	font-family: 'Trade Winds', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 30px;
}

.acerca-de .info .resumen {
	letter-spacing: 1px;  /*Espaciado entre el texto*/
}

.acerca-de .info .label {
	font-size: 18px;
	font-weight: 600;
	color: #005385;
	margin-bottom: 10px;
}

.acerca-de .info .progress {
	background: #005385;
	border-radius: 0;
	margin-bottom: 15px;
	height: 25px;
}

.acerca-de .info .progress .progress-bar {
	background: #3da5e2;
	line-height: 25px;	/*Centrar el texto sin flexbox*/
	text-align: left;
	padding-left: 20px;
}

/* --- CONTACTO --- */
.contacto {
	padding: 40px 0; 
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	margin-bottom: 40px;
}

.contacto .titulo {
	color: #003855;
	font-family: 'Trade Winds', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.contacto .form-group {
	margin-bottom: 0;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	padding: 15px;
	border: none;
	width: 100%;
	font-family: 'Trade Winds', sans-serif;
	margin-bottom: 30px;
}

.formulario textarea {
	height: 150px;
	min-height: 150px;
	max-height: 250px;
}

.formulario .boton {
	background: #3da5e2;
	border: none;
	padding: 7px 30px;
	color: #fff;
	font-family: 'Trade Winds', sans-serif;
	cursor: pointer; 					/*Cambia el puntero para darle un mejor estilo*/
	width: auto;
	border-radius: 3px;
}

.formulario .boton:hover {
	background: #1BA0EF;
}

/* --- FOOTER --- */
.redes-sociales {
	padding: 40px 0;
	margin-bottom: 40px;
}

.redes-sociales .icono {
	width: 100px;
	height: 100px;
	font-size: 40px;
	line-height: 100px;
	color: #fff;
	text-align: center;
	background: #cbcbcb;
	display: inline-block;
	margin: 0px 20px;
	text-decoration: none;
	border-radius: 100px;
	transition: all .3s ease;
}

.redes-sociales .twitter {background: #1da1f2;}
.redes-sociales .instagram {background: #833ab4;}
.redes-sociales .facebook {background: #3b5998;}
.redes-sociales .youtube {background: rgba(204, 0, 0, 0.90)}

.redes-sociales .icono:hover {
	background: #000;
}


/* --- MEDIAQUERIES ---  */

/* Dispositivo xl */

@media (min-width: 1200px)
{
     #logo{
        margin-top:8%

    }
}
@media (min-width: 360px)
{
     #logo{
        margin-top:100px

    }
}
@media screen and (max-width:1199px) {
     
}

/* Dispositivo lg */
@media screen and (max-width:991px) {
   
	.logo {
		height: 76px;
	}

	.menu {
		min-height: 76px;
	}

	.menu a {
		width: 100%;   /*Ancho del 100% al enlace*/
	}
	
	.menu a div {
		width: 100%;
	}
	
	.portafolio .galeria .contenedor-imagen:nth-child(1) {order:1;}
	.portafolio .galeria .contenedor-imagen:nth-child(2) {order:3;}
	.portafolio .galeria .contenedor-imagen:nth-child(3) {order:6;}
	.portafolio .galeria .contenedor-imagen:nth-child(4) {order:2;}
	.portafolio .galeria .contenedor-imagen:nth-child(5) {order:5;}
	.portafolio .galeria .contenedor-imagen:nth-child(6) {order:4;}
	.portafolio .galeria .contenedor-imagen:nth-child(7) {order:7;}

	.modal .modal-dialog {
		width: 90%; 
	}

	.modal .modal-dialog .modal-content img {/*  Si en un dispositivo pequeño la imagen queda muy grande mantenemos el largo de la imagen con esta clase*/
		width: 100%;
	}
}

/* Dispositivo md */
@media screen and (max-width:767px) {}

/* Dispositivo sm */
@media screen and (max-width:575px) {
	header {
		margin-top: 0;          /*AL poner la pagina pequeña eliminara el margen superior */
	}
    

	header .logo h2, 
	header .logo p {
		font-size: 12px;       /*Si esta mas pequeño el tamaño de texto va a ser mas pequeño igual*/
	}
}





