@{
    Layout = null;
    ViewBag.Title = "Index";
}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/Content/csspublicarevento")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")

    <link rel="stylesheet" href="~/Css/FormularioInscripcionAlumno.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainnav" style="background-color:black">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#contact" style="color:white">ONT <i class="fas fa-globe-americas"></i></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarresponsive" aria-controls="navbarresponsive"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span> <span class="badge badge-pill badge-info">Menú</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarresponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Progresion</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#event">Articulos Marciales</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Examenes</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Mensualidades</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-lg-12 text-center">
                <img src="~/img/logo.jpg" style="width:100%" class="imglog d-block " id="logo">
            </div>
            <div class="nav row rounded-top align-items-strech justify-content-between" style="margin-bottom:1%">
                <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
                    <h5>            ITF Federación  </h5>
                    <i style="font-size:30px" class="fas fa-globe-americas"></i>
                    <h5>   ONT 2020</h5>
                </div>
                <nav class="c-1  d-flex align-items-center">
                    <button class="btn btn-flat btn-danger">
                        <span>Estudiante</span><br />
                        <i style="font-size:25px" class="fas fa-user-tie"></i>
                    </button>&nbsp;
                    <button class="btn btn-flat-primary btn-primary">
                        <span>Cerrar Sesion</span><br />
                        <i style="font-size:25px" class="fas  fa-user-times"></i>
                    </button>&nbsp;
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="titulo col-7 mx-auto "><h2>Examenes, Apuntes y Ayuda</h2></div>

        <div class="parrafo col-7 mx-auto">
            <p>
                <a href="http://www.taa-itf.com/documentos/Programa%20de%20Examen%20de%20Gups%20y%20Danes%202017.pdf">EJERCICIOS</a>
            </p>
            <p>
                <a href="http://hwarangitf.cl/TEOEXAM.pdf">MANUAL DE EXAMENES</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/09/PROTOCOLO_OFICIAL_DE_LA_ITF.pdf">PROTOCOLOS, REGLAS Y REGULACIONES</a>
            </p>
            <p>
                <a href="http://tkd.ge/pdf/vol01.pdf">ENCYCLOPEDIA OF TAEKWON-DO</a>
            </p>
        </div>
        <div class="titulo col-7 mx-auto "><h2>Formas</h2></div>
        <div class="row col-7 mx-auto" style="padding:20px">
            <div class="col-12 col-lg-4">
                <p><h4 style="text-align:center">Forma 1</h4></p>
                <iframe style="width:100%;height:300px" src="https://www.youtube.com/embed/TpbCKzw4k60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- https://www.youtube.com/watch?v=Ab3PWC4T7G0-->
            </div>
            <div class="col-12 col-lg-4">
                <p><h4 style="text-align:center">Forma 2</h4></p>
                <iframe style="width:100%;height:300px" src="https://www.youtube.com/embed/TpbCKzw4k60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- https://www.youtube.com/watch?v=Ab3PWC4T7G0-->
            </div>
            <div class="col-12 col-lg-4">
                <p><h4 style="text-align:center">Forma 3</h4></p>
                <iframe style="width:100%;height:300px" src="https://www.youtube.com/embed/TpbCKzw4k60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- https://www.youtube.com/watch?v=Ab3PWC4T7G0-->
            </div>
        </div>

    </main>
    <footer>
        <div class="container">
            <div class="row redes-sociales justify-content-center">
                <div class="col-auto">
                    <i class="fab fa-twitter fa-circle fa-5x icono twitter"></i>
                    <i class="fab fa-instagram fa-circle fa-5x icono instagram"></i>
                    <i class="fab fa-facebook fa-circle fa-5x icono facebook"></i>
                    <i class="fab fa-youtube fa-circle fa-5x icono youtube"></i>
                </div>
            </div>

        </div>
    </footer>

    @Scripts.Render("~/Bundles/js")

</body>
</html>