@{
    Layout = null;
    ViewBag.Title = "Index";
}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/Content/csspublicarevento")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")

    <link rel="stylesheet" href="~/Css/FormularioInscripcionAlumno.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainnav" style="background-color:black">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#contact" style="color:white">ONT <i class="fas fa-globe-americas"></i></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarresponsive" aria-controls="navbarresponsive"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span> <span class="badge badge-pill badge-info">Menú</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarresponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Academias</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#event">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Reglamento</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#about">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="col-lg-12 text-center">
                <img src="~/img/logo.jpg" style="width:100%" class="imglog d-block " id="logo">
            </div>
            <div class="nav row rounded-top align-items-strech justify-content-between" style="margin-bottom:1%">
                <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
                    <h5>            ITF Federación  </h5>
                    <i style="font-size:30px" class="fas fa-globe-americas"></i>
                    <h5>   ONT 2020</h5>
                </div>
                <nav class="c-1  d-flex align-items-center">
                    <button class="btn btn-flat btn-danger">
                        <span>ingreso Alumno</span><br />
                        <i style="font-size:25px" class="fas fa-user-tie"></i>
                    </button>&nbsp;
                    <button class="btn btn-flat-primary btn-primary">
                        <span>Ingreso Maestro</span><br />
                        <i style="font-size:25px" class="fas fa-user-injured"></i>
                    </button>&nbsp;
                    <button class="btn btn-flat btn-info">
                        <span>Ingreso Funcionario</span><br />
                        <i style="font-size:25px" class="fas  fa-users"></i>
                    </button>&nbsp;
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="titulo col-7 mx-auto "><h2>Reglamento</h2></div>
        <div class="parrafo col-7 mx-auto">
            <p>
                2013 – ITF REGLAMENTO CAMPEONATO MUNDIAL JUVENIL Y ADULTOS EN VIGOR DEL 1 DE ENERO ,2013
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF-%C3%8Dndice.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF – Índice</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Torneo-Mundial-ITF-Juveniles-Adultos-Reglas-y-Regulaciones-Aclaraci%C3%B3n-3-de-febrero-2017-1.pdf">Reglamento de Torneo Mundial ITF Juveniles Adultos – Reglas y Regulaciones Aclaración 3 de febrero 2017 (1)</a>
            </p>
            <p>
                2013 – ITF REGLAMENTO JUECES Y ÁRBITROS EN VIGOR DESDE EL 1 DE ENERO,2013
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/%C3%8Dndice-Reglamento-de-Jueces-y-%C3%81rbitros-de-la-ITF-%E2%80%93-Reglas-y-Regulaciones.pdf">Índice – Reglamento de Jueces y Árbitros de la ITF – Reglas y Regulaciones</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-de-la-ITF-%E2%80%93-Reglas-y-Regulaciones-En-vigencia-a-partir-del-1%C2%BA-de-Enero-de-2013.pdf">Reglamento de Jueces y Árbitros de la ITF – Reglas y Regulaciones – En vigencia a partir del 1º de Enero de 2013</a>
            </p>
            <p>
                2017 – ITF REGLAMENTO ÁRBITROS APÉNDICES 1 A 9 ( FEBRERO 3, 2017)
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-1-Procedimiento-de-Puntuaci%C3%B3n-3-de-febrero-2017.pdf">Reglamento Jueces y Árbitros ITF -Apéndice 1 – Procedimiento de Puntuación 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-2-Vestimenta-Aprobada-ITF-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF -Apéndice 2 – Vestimenta Aprobada ITF 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-Y-%C3%81rbitros-ITF-Ap%C3%A9ndice-3-Se%C3%B1ales-de-MAnos-Oficiales-3-Febrero-2017.pdf">Reglamento de Jueces Y Árbitros ITF, Apéndice 3- Señales de Manos Oficiales 3 Febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-4-Garant%C3%ADa-AN-3-de-febrero-2017.pdf">Reglamento Jueces y Árbitros ITF- Apéndice 4 – Garantía AN 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-5-Aprobaci%C3%B3n-de-Patrocinio-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF-Apéndice 5 – Aprobación de Patrocinio 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-6-Tablas-y-Alturas-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF-Apéndice 6 – Tablas y Alturas – 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-7-Glosario-de-T%C3%A9rminos-19-de-abril-2017.pdf">Reglamento de Jueces y Árbitros ITF Apéndice 7 – Glosario de Términos 19 de abril 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-8-ITF-Equipamiento-Aprobado-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF- Apéndice 8 – ITF Equipamiento Aprobado 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-9-Salud-y-Seguridad-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF – Apéndice 9 – Salud y Seguridad 3 de febrero 2017</a>
            </p>
            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-10-Protocolos-de-Pesaje-19-de-abril-de-2017.pdf">Reglamento de Jueces y Árbitros ITF Apéndice 10 – Protocolos de Pesaje 19 de abril de 2017</a>
            </p>
            <p>
                2019- ITF WORLD CHAMPIONSHIP APLICACIÓN PARA ÁRBITRO, INZELL, ALEMANIA
            </p>

            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2019-ITF-world-Championship-Umpire-Registration-Form-Inzell-Germany-Revised-2-.xls">2019-ITF-world-Championship-Umpire-Registration-Form-Inzell-Germany Revised 2</a>
            </p>
            <p>
                ITF WORLD CUP REGLAMENTO (APRIL 24, 2006 – AMMENDED MARCH 22 , 2016)
            </p>

            <p>
                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2016-World-Cup-Rules-Mar-22-1.pdf">2016 World Cup Rules (Mar 22)</a>
            </p>










        </div>

    </main>
    <footer>
        <div class="container">
            <div class="row redes-sociales justify-content-center">
                <div class="col-auto">
                    <i class="fab fa-twitter fa-circle fa-5x icono twitter"></i>
                    <i class="fab fa-instagram fa-circle fa-5x icono instagram"></i>
                    <i class="fab fa-facebook fa-circle fa-5x icono facebook"></i>
                    <i class="fab fa-youtube fa-circle fa-5x icono youtube"></i>
                </div>
            </div>

        </div>
    </footer>

    @Scripts.Render("~/Bundles/js")

</body>
</html>
